body > *{
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../img/bodybg.jpg');
    background-attachment: fixed;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.carousel-item > img{
    height: 500px;
    overflow: hidden;
}

.players {
    display: grid;
    grid-template-columns: 40% 15% 40%;
    grid-column-gap: 1em;
}

.avatar {
    max-width: 150px;
    height: auto;
}

.avatar>img {
    background-color: #120A14;
}

.hideSection {
    display: none;
}